ipykernel


langchain_docling
docling-core[chunking]
pypdf

langchain-text-splitters

chromadb
langchain_chroma


rank_bm25

#langchain core
langchain
langchain-core
langchain_community

#OpenAI Integration
openai
langchain-openai

#Anthropic Integration
langchain-anthropic

#Google gemini integration
langchain-google-genai
google-generativeai

#Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

#Environment Variables Management
python-dotenv

#Machine learning and data processing
scikit-learn
numpy

